*{
text-decoration: none;
padding: 0;
margin: 0;
list-style: none;
font-family: 'Poppins', sans-serif;
box-sizing: border-box;
}

body{
    background-color: #F7F2E8;
}

header{
    width: 1128px;
    height: 530px;
    background-color: #8b0707;
    margin: auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1128px;
    height: 130px;
  
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 192px;
    height: 169px;
}

.navbar-left{
    display: flex;
 
}

.navbar-left ul{
    display: flex;
    align-items: center;
}

.navbar-left ul li{
    padding-left: 36px;
}


.navbar-right ul{
    display: flex;
    
}

.navbar-right ul li{
    padding-left: 26px;
    z-index: 2;
}

.btn-primary{
    background-color: #431B1B;
    width: 152px;
    height: 48px;
    border-radius: 36px;
    border: none;
    color: #FFF;
    padding: 12px 32px;
}

.title-logo{
    color: #1A1A1A;
    font-size: 24px;
    font-size: bold;
}

ul li a{
    color: #3C0E0E;
    font-size: 20px;
    font-weight: 500;
}

.top{
    display: flex;
    margin-left: 42px;
    width: 1188px;
}

.header-text{
    height: 338px;
    margin-right: 180px;
}

.header-text p{
    color: #3C0E0E;
    font-size: 24px;
    font-weight: bold;
}

.header-text h1{
    color: #3C0E0E;
    font-size: 80px;
    line-height: 104.5%;
    font-weight: bold;
    width: 252px;
}

.header-text .desc{
    color: #3C0E0E;
    font-size: 16px;
    line-height: 157%;
    font-weight: 400;
    width: 352px;
}


.header-image img{
    width: 614px;
    height: 530px;
    position: relative;
    top: -130px;
    right: 55px;
  
}

.drinks{
    background-image: url("../../img/Image-drinks.png"); 
    background-position: center; /* Centraliza a imagem na seção */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    background-size: auto;
    height: 795px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-drinks{
    text-align: center;
    width: 545px;
    height: 205px;
}

.header-drinks h2{
    color: #3C0E0E;
    font-size: 40px;
    font-weight: 600;
    line-height: 157%;
    margin-bottom: 16px;
}

.header-drinks p, a{
    color: #3C0E0E;
    font-size: 16px;
    font-weight: 400;
    font-weight: 157%;
    margin-bottom: 16px;
}

.header-drinks a{
    font-weight: 600;
    margin-bottom: 50px;
}


.cards-drinks{
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.card-drink{
   width: 323.65px;
   height: 468.15px;
   border-radius: 48px;
   border: none;
   margin-right: 70px;
   padding: 30px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
}

.card-drink img{
    height: 250px;
}

.btn-secundary{
    margin-top: 16px;
    background-color: #FFF;
    font-size: 16px;
    font-weight: 600;
    width: 265px;
    height: 45px;
    border-radius: 36px;
    border: none;
    color: #8b0707;
    padding: 12px 32px;
}

.price {
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
}

.name_drink{
    font-size: 32px;
    color: #FFF;
    font-weight: 500;
}

.desc_drink{
    color: #FFF;
    font-size: 14px;
    font-weight: 100;
}

.one{
    background: linear-gradient(45deg, #C27D7A, #F6E4C5);
}
.two{
    background: linear-gradient(45deg, #541511, #FAFAFA);
}
.three{
    background: linear-gradient(45deg, #541511, #0A0909);
}



.croissants{
    margin: auto;
    width: 1174px;
    height: 449px;
    display: flex;
    justify-content: space-between;
}

.text-croissants{
    width: 493.17px;
    height: 315.36px;
}

.text-croissants a{
    color: #3C0E0E;
    font-size: 16px;
    font-weight: 600;
    font-weight: 157%;
    margin-bottom: 16px;
}
.price-croissants{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F9C4C4;
    width: 110px;
    height: 40px;
    background-color: #fff;
    border: none;
    border-radius: 25px;
    margin-bottom: 12px;
}

h2{
    font-size: 80px;
    color: #4D1D1D;
}

.subtitle{
    color: #3C0E0E;
    font-size: 40px;
}

.desc-croissants{
    color: #3C0E0E;
    font-size: 16px;
    width: 307.57px;
}

.your-house{
    width: 1115px;
    height: 427px;
    margin: auto;
}

.your-house img{
    position: relative;
    top: -40px;
    width: 589.87px;
    height: 379.14px;
}

.retangulo{
    width: 1115px;
    height: 368.73px;
    border-radius: 48px;
    background: linear-gradient(#F3C7C4, #541511);
    display: flex;
    justify-content: space-between;
}

.text-house {
    text-align: right;
    margin-right: 30px;
}

.text-house p:first-child{
    font-size: 48px;
    color: #FFF;
    font-weight: bold;
    margin-top: 72px;
    margin-bottom: 30px;
}

.desc-house{
    font-size: 16px;
    color: #FFF;
    margin-bottom: 43px;
}
